body
{
  color: aliceblue;
}

.USER img{
  height: 200px;
  width: 500;
}

#list
{
  text-align: center;
}

#flim-body{
  align-items: center;
}

.imageBox {
  position: relative;
  /* float: left; */
}

.imageBox .hoverImg {
  position: relative;
  /* left: 20; */
  /* bottom: 0; */
  display: inline-flex;
}

/* fixed button  */
/* .imageBox:hover .hoverImg {
  display: none;
} */